.auth-container {
  width: 100%;
  height: 100vh;
  display: flex;
  background: #f4f8fb;
  align-items: center;
  justify-content: center;
}

.auth-box {
  width: 850px;
  height: 480px;
  background: white;
  border-radius: 15px;
  display: flex;
  box-shadow: 0px 4px 20px rgba(0,0,0,0.08);
  overflow: hidden;
}

.auth-left, .auth-right {
  flex: 1;
  padding: 45px;
}

.auth-left {
  background: #ffffff;
}

.auth-right {
  background: #1ca2a7;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.auth-title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 10px;
}

.auth-subtext {
  color: #64748b;
  margin-bottom: 15px;
  font-size: 14px;
}

.auth-btn {
  width: 100%;
  padding: 12px;
  background: #1ca2a7;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.auth-btn:hover {
  background: #148a8e;
}

.auth-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  margin-top: 10px;
}

.switch-btn {
  margin-top: 15px;
  background: transparent;
  border: 1px solid white;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  width: 150px;
  align-self: center;
}

.switch-btn:hover {
  background: rgba(255,255,255,0.3);
}
